<div class="container">
  <div class="text-end mb-4">
    <%= link_to "Back Home", root_path, class: "btn btn-secondary" %>
    <%= link_to "All Client Intake Forms", client_intake_forms_path, class: "btn btn-secondary" %>
  </div>

  <!-- New Client Intake Form -->
  <div class="mb-4 border p-3">
    <h1>New Client Intake Form</h1>
    <%= render "form", client_intake_form: @client_intake_form %>
  </div>

</div>
